body {background-color: #ffffff;
      /* background-image: url('../src/assets/images/MasterBaiter.jpg'); */
      }



.user-table {
    border-collapse: collapse;
    width: 600px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }